<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.plugplayer.plugplayer"
      android:versionCode="24"
      android:versionName="3.5.4">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="false">
        <activity android:name=".activities.MainActivity"  android:launchMode="singleTop"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>            
                         <intent-filter>
    	                <action android:name="android.intent.action.SEARCH" />
    	                <category android:name="android.intent.category.DEFAULT" />
             </intent-filter>
               <meta-data android:name="android.app.searchable"
                   android:resource="@xml/searchable"/>
        </activity>

    	<activity android:name=".activities.NowPlayingActivity"/>
		<activity android:name=".activities.PlaylistActivity"/>
    	<activity android:name=".activities.BrowseActivity" android:theme="@android:style/Theme.NoTitleBar">
    		</activity>
   	
    	<activity android:name=".activities.DevicesActivity"/>
    	<activity android:name=".activities.BrowseActivityGroup"/>   
		<activity android:name=".activities.PlaylistsActivity"/>
    	<activity android:name=".activities.LinnActivity"/>
    	<activity android:name=".activities.DeviceEditor"/>   
    	<activity android:name=".activities.SettingsEditor"/>
    	
    	<meta-data android:name="android.app.default_searchable"
               android:value=".activities.MainActivity" />
               
    	<provider android:name=".activities.ContentProvider"
         android:authorities="com.plugplayer.plugplayer" /> 
         
 	</application>

	<uses-sdk android:minSdkVersion="7"/>

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="com.android.vending.CHECK_LICENSE"/>

</manifest> 